main {
  margin: 5% 0;
}

.single-user {
  display: flex;
  gap: 5%;
  width: 80%;
  margin: 15px auto;
}

.user-image {
  border: 1px solid black;
  width: 10%;
}

.user-information {
  border: 1px solid black;
  width: 100%;
  height: 95px;
  padding: 20px;
}

.count {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.user-name {
  font-size: 2rem;
}

.user-bio {
  border: 1px solid black;
  width: 78%;
  margin: 0 auto;
  padding: 20px;
}

.bio {
  font-size: 1.5rem;
  margin: 0;
}

.user-post {
  border: 1px solid black;
  width: 78%;
  margin: 15px auto;
  padding: 5px 20px;
}

.post {
  font-size: 1.5rem;
  margin: 0;
}

.see-all {
  display: flex;
  justify-content: center;
}

.all {
  padding: 10px 30px;
}

.posts-comment {
  border: 1px solid black;
  width: 78%;
  margin: 0 auto;
  padding: 5px 20px;
}

.post-header {
  border: 1px solid black;
  width: 78%;
  margin: 15px auto;
  padding: 5px 20px;
}

.post-by-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-author {
  font-size: 1.5rem;
}

.add-like-comment {
  width: 80%;
  margin: 10px auto;
  display: flex;
  gap: 40px;
}

.flash-message {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: green;
}
